<div class="wrapper">
    <div class="card-holder">
<mat-card  *ngFor="let pokemon of pokemonList" >
    <img mat-card-img src="{{pokemon.pic}}" >
    <mat-card-title >{{pokemon.name}}</mat-card-title>
<mat-card-subtitle>Pokedex Number: {{pokemon.number}}</mat-card-subtitle>
   <ul>
    <li>weight: {{pokemon.weight}}</li>
    <li>height: {{pokemon.height}}</li>
    <li>Type: {{pokemon.type}}</li>
   </ul>
   <button (click)="openPopUp(pokemon.name,pokemon.pic)" id="{{pokemon.name}}" mat-raised-button color="primary">Select</button>
</mat-card>
</div>
</div>